on:
  workflow_call:
    inputs:
      runner:
        required: true
        type: string
      name:
        required: true
        type: string
      id:
        required: true
        type: string
jobs:
  flatpak-build:
    name: ${{ inputs.name }}
    runs-on: ${{ inputs.runner }}
    container:
      image: ghcr.io/flathub-infra/flatpak-github-actions:freedesktop-24.08
      options: --privileged
    steps:
      - uses: actions/checkout@v4
      - name: build
        run: |
          echo '${{ secrets.private_gpg }}' | gpg --import
          git clone 'https://github.com/pocketblue/${{ inputs.name }}'
          flatpak remote-add --user --if-not-exists flathub https://dl.flathub.org/repo/flathub.flatpakrepo
          flatpak-builder --disable-rofiles-fuse --user --gpg-sign=gmankab@gmail.com --install-deps-from=flathub --repo=repo ./build '${{ inputs.name }}/${{ inputs.id }}.yml'
      - name: arch
        id: arch
        run: echo arch=$(uname -m) >> $GITHUB_OUTPUT
      - name: upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ inputs.id }}-${{ steps.arch.outputs.arch }}
          path: repo
